body {
    background-color: #1B1B1F;
    color: #EAEAEA;
}

.expanded-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

nav {
    background-color: #212125;
    color: #eaeaea;

    .logo {
        font-size: 1.625rem;
    }

    p:hover, a:hover {
        color: white;
    }

    .navbar-menu-block {
        position: relative;

        .navbar-menu {
            position: absolute;
            top: 40px;
            background-color: #212125;
            width: 100vw;
            z-index: 99;
        }

    }



    .search-wrapper {
        height: 500vh;
        width: 100%;
        background-color: #18181ceb;
        position: absolute;
        z-index: 9999;

        .search-box {
            background-color: #212125;
    
            input {
                background-color: #212125;
                border-bottom: 1px solid #FE3189;
                padding-bottom: 0.5rem;
                font-size: 32px;
    
    
                &:focus-visible {
                    outline: none;
                }
            }
    
        }
    }

    

    .movie-search-result {
        display: flex;
        background-color: #252529;
        width: 300px;
        border-radius: 4px;
        border: 1px solid #313136;
        padding: 1rem;
        gap: 1rem;
        margin: 1rem 0rem;

        img {
            width: 100px;
        }

        .movie-search-result-genre {
            font-weight: 300;
            text-transform: capitalize;
            color: #FE3189;
            font-size: 0.9rem;
            border-radius: 4px;
        }

        .movie-search-result-rate {
            font-size: 0.9rem;
        }
    }
}

.carousel {
    color: #EAEAEA;
    background-image: url("../public/section\ 1.jpg");
    background-position: bottom;
    height: 40rem;

    .carousel-movie-img {
        min-width: 220px;
        height: 330px;
        flex-shrink: 0;
    }
}

.title {
    font-size: 1.375rem;
    text-transform: uppercase;
    color: white;
    margin: 4rem 0 1.5em 0;
    font-weight: lighter;


    &::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.8rem;
    background-color: #FE3189;
    border-radius: 50px;
    position: relative;
    top: 2px;
    }
}

.carousel-block {
    position: relative;

    .prev-button {
        position: absolute;
        top: 45%;
        left: -70px;
    }

    .next-button {
        position: absolute;
        top: 45%;
        right: -50px;
    }
    
}

.carousel-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-wrapper {
        position: relative;
        transition: transform 0.3s ease-in-out;


        .carousel-element {
            // width: 220px;
            // height: 330px;
            // background-color: gray;
            flex-shrink: 0;

            .carousel-movie-title {
                max-width: 220px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-top: 1rem;
            }

            .carousel-movie-genre {
                color: #FE3189;
                font-size: 0.965rem;
            }
        }
    }

   
}

.catalog-title {
    background-color:#212125;
    border-top: 3px solid #FF559E;
     
    h2 {
        margin: 2.315rem 0rem;
    }
}

.btn-primary {
    background: linear-gradient(180deg, #212125 0%, #2E2E35 100%), #212125;;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    border: 2px solid #2E2D31;
    font-size: 0.9rem;
}

.btn-secondary {
    background: linear-gradient(180deg, #FE3189 0%, #FE3189 100%), #FE3189;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    filter: drop-shadow(0px 0px 5px #FF0772);
}

.catalog-block {
    justify-content: space-between;
}

.catalog-element {
    width: 485px;
    height: 250px;
    gap: 1rem;
    margin-bottom: 1rem;

    .catalog-element-desc {
        height: 145px;
        overflow: hidden;
        color: #9F9FA0;
        font-size: 0.875rem;
    }

    .catalog-element-genre {
        color: #FE3189;
        font-size: 0.875rem;
    }

    .catalog-element-rate {
        margin: 0.85rem 0;
        font-size: 0.875rem;
    }

    .catalog-element-img {
        background-color: red;
        min-width: 157px;
        height: 100%;
    }

    .catalog-movie-img {
        width: 166px;
    }
}

.active {
    border-bottom: 2px solid #FF559E;
}


.movie {
    .movie-details {
        color: #EAEAEA;
        background-image: url("../public/section\ 1.jpg");
        background-position: bottom;
    
        .movie-poster {
            width: 330px;
            height: 490px;
            flex-shrink: 0;
        }
    
        .movie-title {
            font-size: 3.75rem;
            line-height: 4.5rem;
        }
    
        .movie-rated {
            margin-top: 0.8rem;
            margin-bottom: 2rem;

            p {
                color: #FE3189;
            }
        }
    
        .movie-description {
            p {
                color: #757575;
                margin-top: 0.965rem;
            }
        }
    
    }
    
    .movie-trailer {
        h3 {
            border-bottom: 2px solid #FE3189;
        }
    }
}

@media (max-width: 500px) {

    .title {
        text-align: center;
    }

    .carousel-main {
        margin-left: 75px;
    }

    .prev-button {
        left: 10px !important;
    }

    .next-button {
        right: 10px !important;
    }
}