nav {
    background-color:#212125;
    height: 107px;
    color: #eaeaea;

    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;

    .logo {
        font-size: 1.625rem;
        
    }

    p:hover, a:hover {
        color: white;
    }
}

.carousel {
    
}