body {
    background-color: #1B1B1F;
    color: #EAEAEA;
}

.expanded-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

nav {
    background-color:#212125;
    height: 107px;
    color: #eaeaea;
    .logo {
        font-size: 1.625rem;
        
    }

    p:hover, a:hover {
        color: white;
    }
}

.carousel {
    color: #EAEAEA;
    background-image: url("../public/section\ 1.jpg");
    height: 40rem;
}

.title {
    font-size: 1.375rem;
    text-transform: uppercase;
    color: white;


    &::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.8rem;
    background-color: #FE3189;
    border-radius: 50px;
    position: relative;
    top: 2px;
    }
}

.carousel-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-wrapper {
        position: relative;
        transition: transform 0.3s ease-in-out;


        .carousel-element {
            width: 220px;
            height: 420px;
            background-color: gray;
            flex-shrink: 0;
        }
    }
}

.catalog-title {
    background-color:#212125;
     
    h2 {
        margin: 2.315rem 0rem;
    }
}

.btn-primary {
    background: linear-gradient(180deg, #212125 0%, #2E2E35 100%), #212125;;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    border: 2px solid #2E2D31;
    font-size: 0.9rem;
}

.btn-secondary {
    background: linear-gradient(180deg, #FE3189 0%, #FE3189 100%), #FE3189;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    filter: drop-shadow(0px 0px 5px #FF0772);
}
